<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel = 'icon' href= '/img/icon.png'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>404</h2>
            <p>{{error}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>