<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel = 'icon' href= '/img/icon.png'>
    </head>
    <body>
        <div class="main-content">
        
            {{>header}}
            
            <h2>About</h2>
            <img class="portrait" src ='/img/12.jpg'>
        </div>
        {{>footer}}
    </body>
</html>