<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel = 'icon' href= '/img/icon.png'>
    </head>
    <body>
        <div class= "main-content">
        
            {{>header}}
            <h2>Help Page</h2>
            <p>This is a help page.</p>
        </div>
        
        {{>footer}}
    </body>
</html>